<div class="container-fluid">

    <mat-card>
        <div class="banner">
            <div class="navbar">
              <div class="logo">
                <a class="navbar-brand" href="#">
                    <img src="../../../assets/photos/brandlogo.png" alt="" width="300px" height="55px" class="text-center" >
                  </a>
                </div>
                <ul>
                    <li><a [routerLink]="['/users']">Registered Users</a></li>
                    <li><a [routerLink]="['/bike']">Bikes</a></li>
                    <li><a [routerLink]="['/bookings']">Bookings</a></li>
                    <li><a [routerLink]="['/feedback']">Feedbacks</a></li>
                </ul>
                <div class="d-flex">
                    <button [routerLink]="['/home']" class="btn btn-danger">Log Out</button>
                   </div>
            </div>
           </div>
          
    </mat-card>
  
    <div class="logo">       
     <img src="../../../assets/photos/pexels-photo.jpg" width="1255px" height="280px">
      </div>  

   <footer class="text-center text-white" style="background-color:gainsboro">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-3">
        <!-- Facebook -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark">
          <i class="fa fa-facebook-f"></i></a>
  
        <!-- Twitter -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark">
          <i class="fa fa-twitter"></i></a>
  
        <!-- Google -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark">
          <i class="fa fa-google"></i></a>
  
        <!-- Instagram -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark">
          <i class="fa fa-instagram"></i></a>
  
        <!-- Github -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark">
          <i class="fa fa-github"></i></a>
      </section>
      
    </div>
   
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">happyrides.com</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>

